/* JobList.css */

.container {
    background: transparent;
    max-width: 800px;
    /* margin: 0 auto; */
    padding: 20px;
  }
  
  .heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .job-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .job-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .job-details {
    display: flex;
    align-items: center;
  }
  
  .job-details .icon {
    margin-right: 5px;
  }
  
  .apply-button {
    background-color: #1976d2;
    color: #fff;
  }
  
  .apply-button:hover {
    background-color: #115293;
  }
  